@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&family=Roboto:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  display: block;
}

iframe {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  padding: 23px 0;
  background: transparent;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background: transparent;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.header.bg {
  background: #000000;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.header__menu {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__burger {
  display: none;
}
.header__burger span {
  display: block;
  width: 30px;
  height: 4px;
  background: #ffffff;
  margin: 0 0 3px 0;
}
.header__burger span:last-child {
  margin: 0;
}

.uk-offcanvas-close {
  display: none;
}

.header__inner {
  max-width: 1238px;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.logo__text-box {
  margin: 0 0 0 12px;
}

.logo__text {
  font-size: 18px;
  color: #fff;
  display: block;
  line-height: 21px;
  letter-spacing: 3px;
}

.header__menu-link {
  color: #fff;
}

.header__menu-item {
  display: inline-block;
  margin: 0 30px 0 0;
}
.header__menu-item:last-child {
  margin: 0;
}

.header__button {
  background: none;
  padding: 8px 16px;
  border: 2px solid #fff;
  color: #fff;
}

.main-screen {
  min-height: 110vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -111px 0 0 0;
}

.main-screen__content {
  margin: 0 0 143px 0;
  max-width: 1238px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  font-size: 80px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

h2 {
  margin: 0;
}

.main-screen__content .red__btn {
  margin: auto 0 18px 20px;
}

.red__btn {
  width: 312px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #DA291C;
  font-size: 24px;
  color: #fff;
}

.title {
  font-size: 36px;
  font-family: "Montserrat", sans-serif;
  line-height: 44px;
  padding: 0 0 0 25px;
  margin: 0 0 15px 0;
  position: relative;
}

.black {
  color: #151515;
}

.white {
  color: #fff;
}

.triangle:before {
  content: "";
  width: 15px;
  height: 17px;
  background: url(../img/icons/text-triangle.svg) no-repeat;
  position: absolute;
  top: 20px;
  left: 0;
}

.rating {
  background: #333333;
  padding: 0 10px 67px 10px;
}

.rating__box {
  position: relative;
  top: 130px;
  margin: -130px 0 0 0;
}

.gradient__box {
  max-width: 1419px;
  margin: 0 auto;
  background: linear-gradient(115.54deg, rgba(0, 0, 0, 0.5) -2.16%, rgba(66, 66, 66, 0.5) 100%), #858192;
}

.rating__inner {
  padding: 70px;
  position: relative;
  top: -72px;
}

.rating__title {
  margin: 0 0 42px 0;
}

.grid__items-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
}

.rating__item {
  padding: 30px 27px;
  background: #fff;
}

.rating__img {
  width: 100%;
  height: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 30px 0;
}
.rating__img img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.rating__text {
  text-align: center;
  font-size: 18px;
}

.rating__number {
  color: #DA291C;
}

.rating__descr {
  font-weight: 500;
  color: #1A1A1A;
  margin: 0;
}

.global-education {
  max-width: 1200px;
  padding: 80px 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subtitle {
  padding-left: 25px;
  font-weight: 300;
  font-size: 18px;
  line-height: 131.9%;
}

.section__title {
  max-width: 550px;
  padding: 0 30px 0 0;
}

.global-education__value {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 72px 2fr;
  grid-template-columns: 2fr 2fr;
  gap: 72px;
}

.global-education__item {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.global-education__item span {
  display: block;
}

.global-education__number {
  font-size: 56px;
  margin: 0 0 15px 0;
  color: #DA291C;
}

.global-education__name {
  font-size: 18px;
  color: #151515;
}

.alliance {
  background: #333333;
  padding: 120px 10px;
}

.alliance__item {
  min-height: 420px;
  padding: 33px 10px;
  text-align: center;
}

.alliance__inner {
  max-width: 1238px;
  margin: 0 auto;
  padding: 0 10px;
}

.alliance__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.alliance__item-logo {
  width: 115px;
  height: 73px;
  margin: 0 auto;
}

.alliance__items-box {
  margin: 30px 0 100px 0;
}

.alliance__item-text {
  margin: auto 0 0 0;
}
.alliance__item-text h3, .alliance__item-text a {
  color: #fff;
}

.alliance__item-name {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.alliance__item-link {
  font-size: 18px;
  text-decoration: underline;
}

.alliance__list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.alliance__list-box {
  padding: 0px 0 0 74px;
}

.alliance__list-text {
  margin: 57px 0 0 0;
  padding: 0 30px 30px 0;
}

.alliance__list {
  font-size: 18px;
  line-height: 21px;
  max-width: 622px;
  margin: 50px 0 0 0;
}

.alliance__list-item {
  margin: 0 0 30px 0;
  padding: 0 0 0 25px;
  position: relative;
  color: #fff;
}
.alliance__list-item.triangle:before {
  top: 0;
  left: 0;
}
.alliance__list-item:last-child {
  margin: 0;
}

.alliance__img img {
  height: 100%;
}

.switzerland-block {
  height: 860px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url(../img/sw.png) no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.switzerland__title {
  font-weight: 300;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  padding: 0;
}

.switzerland__text {
  font-size: 144px;
  font-weight: 900;
  opacity: 0.2;
  line-height: 175px;
  margin: 0 0 37px 0;
  text-transform: uppercase;
}

.switzerland__link {
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
}

.partners {
  max-width: 1230px;
  margin: 0 auto;
  padding: 80px 10px;
}

.partners__box {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0 30px 0;
}

.partners__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 145px;
}
.partners__img img {
  -o-object-fit: cover;
     object-fit: cover;
}

.centered__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners__link {
  padding: 20px 45px;
  color: #DA291C;
  border: 2px solid #DA291C;
  font-size: 24px;
}

.history__box {
  width: 100%;
  padding: 90px 0 97px 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 110px auto;
}

.history {
  background: #333333;
  padding: 110px 10px;
}

.history__box-text {
  max-width: 520px;
}

.history__slider {
  position: relative;
  left: 185px;
}

.history__slider a {
  width: 35px;
  height: 9px;
  display: inline-block;
  font-size: 0;
}

.slider-arrows {
  margin: 10px 0 0 30px;
}

.prev-arrow {
  background: url(../img/icons/prev.svg) no-repeat;
  background-size: 35px 9px;
  margin: 0 40px 0 0;
}

.next-arrow {
  background: url(../img/icons/next.svg) no-repeat;
  background-size: 35px 9px;
}

.slider__item {
  height: 312px;
  position: relative;
}
.slider__item img {
  height: 100%;
  width: 100%;
}

.slider__item-info {
  position: absolute;
  bottom: 27px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0 15px;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  min-height: 80px;
}

.slider__name {
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.slider__descr {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
}

.index__news {
  max-width: 1230px;
  margin: 0 auto 130px auto;
  padding: 0 10px;
}
.index__news a:hover {
  color: #fff;
}

.recommendation {
  max-width: 1230px;
  padding: 0 10px;
  margin: 0 auto;
}

.index__news-box {
  margin: 50px 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.333fr 30px 1.333fr 30px 1.333fr;
  grid-template-columns: 1.333fr 1.333fr 1.333fr;
  grid-column-gap: 30px;
}

.index__news-item {
  height: 293px;
  width: 100%;
  position: relative;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}
.index__news-item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news__head {
  font-size: 12px;
  font-weight: 300;
  position: relative;
  z-index: 2;
}

.news__body {
  position: relative;
  z-index: 2;
  margin-top: auto;
}

.news__descr {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.news__time {
  font-size: 12px;
  font-weight: 300;
  margin: 12px 0 0 0;
  text-transform: uppercase;
}

.recommendation__box {
  margin: 50px 0 0 0;
}

.recommendation__item {
  height: 146px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recommendation__item img {
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  padding: 80px 0;
  background: #F8F8F8;
}
.footer ul {
  padding: 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer__list-item {
  margin: 0 0 7px 0;
}
.footer__list-item:first-child {
  margin: 0 0 15px 0;
}
.footer__list-item.bottom {
  display: inline-block;
  margin: 0 20px 0 0;
}
.footer__list-item.bottom:last-child {
  margin: 0;
}

.footer__list-link {
  font-size: 12px;
  color: #444444;
}

.red {
  color: #DA291C;
  text-transform: uppercase;
}

.footer__list {
  margin: 0 40px 30px 0;
  padding: 0 10px 0 0 !important;
}

.footer__download-link {
  font-size: 24px;
  font-weight: 300;
  padding: 0 30px 0 0;
  margin: 0px 0 0 0;
  display: inline-block;
  background: url(../img/icons/download.svg) no-repeat right;
  color: #000000;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  color: #797979;
  position: relative;
}
.footer__form input {
  width: 100%;
  padding: 20px 50px 20px 20px;
  border: 1px solid #000000;
}
.footer__form input:focus-visible {
  outline: none;
}

.footer__form-btn {
  width: 58px;
  height: 58px;
  background: #fff url(../img/icons/send.svg) no-repeat center;
  background-size: 28px 9px;
  border: 1px solid #000000;
  position: absolute;
  right: 0;
  z-index: 2;
}

.footer__text .red {
  text-transform: none;
}

.footer__text {
  margin: 20px 0 30px 0;
  line-height: 130%;
}
.footer__text:last-child {
  margin: 0 0 15px 0;
}

.footer__contacts-item {
  margin: 0 0 13px 0;
}

.footer__contacts-link {
  padding: 0 0 0 17px;
  color: #000000;
}
.footer__contacts-link.map {
  background: url(../img/icons/map.png) no-repeat left;
}
.footer__contacts-link.mail {
  background: url(../img/icons/mail.svg) no-repeat left -1px center;
  background-size: 14px 14px;
}

.footer__btns-box {
  margin: 20px 0 0 0;
}

.footer__btns-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__btns-box .red__btn {
  width: 227px;
  height: 60px;
}

.contacts__btn {
  width: 190px;
  height: 60px;
  border: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 300;
  color: #1A1A1A;
  margin: 0 23px 0 0;
}

.footer__logo .logo__text {
  color: #000000;
}

.footer__bottom {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer__bottom-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  margin: 15px 0 0 0;
  line-height: 36px;
}

.footer__bottom-list, .footer__social-list {
  margin: 0;
}

.copy {
  padding: 0 10px 0 0;
  line-height: 22px;
}

.footer__bottom-list {
  padding: 0 10px 0 0px !important;
}

.footer__social-item {
  margin: 0 15px 0 0;
  display: inline-block;
}
.footer__social-item:last-child {
  margin: 0;
}

.footer__social-link {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  top: 7px;
}
.footer__social-link.twitter {
  background: url(../img/icons/twitter.svg) no-repeat center;
}
.footer__social-link.facebook {
  background: url(../img/icons/facebook.svg) no-repeat center;
}
.footer__social-link.linkedin {
  background: url(../img/icons/linkedin.svg) no-repeat center;
}
.footer__social-link.instagram {
  background: url(../img/icons/instagram.svg) no-repeat center;
}

.modal__logo {
  margin: 0 0 40px 0;
}

.viz {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.uk-offcanvas {
  display: block;
  position: static;
}

.uk-offcanvas-bar {
  position: static;
  width: auto;
  padding: 0px 0px;
  background: none;
  overflow-y: hidden;
}

.uk-modal-body {
  padding: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__title {
  padding: 0;
  text-align: center;
  margin: 0 0 30px 0;
}

.modal__form input {
  display: block;
  font-size: 24px;
  font-weight: 300;
  color: #797979;
  border: 1px solid #000000;
  padding: 15px;
  margin: 0 0 30px 0;
  width: 100%;
}
.modal__form input:focus-visible {
  outline: none;
}

.modal__form {
  width: 350px;
}

.modal__btn {
  width: 100% !important;
}

.uk-offcanvas-overlay::before {
  position: fixed;
}

@media screen and (max-width: 1810px) {
  .history__slider {
    position: static;
  }
}
@media screen and (max-width: 1400px) {
  .main-screen {
    min-height: 670px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .slider__name {
    font-size: 24px;
  }

  .history__box-text {
    max-width: 420px;
  }

  .switzerland__text {
    font-size: 100px;
    line-height: 132px;
  }

  .main-screen__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 60px 0 0px 0;
  }

  .main-screen__content .red__btn {
    margin: 20px 0 0px 0px;
  }

  .alliance__item-name {
    font-size: 28px;
  }

  .header__menu-item {
    margin: 0 20px 0 0;
  }

  .switzerland-block {
    height: 550px;
  }

  .news__descr {
    font-size: 18px;
    line-height: 24px;
  }

  .global-education__number {
    font-size: 42px;
  }

  h1 {
    text-align: center;
  }

  .alliance__list-box {
    padding: 0 0 0 30px;
  }
}
@media screen and (max-width: 1023px) {
  .header__burger.active {
    display: block;
  }

  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__menu-item {
    display: block;
    margin: 0 0 20px 0;
  }

  .grid__items-box {
    -ms-grid-columns: 2fr 25px 2fr;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 0;
    gap: 25px;
  }

  .alliance__img {
    display: none;
  }

  .alliance__list {
    padding: 0;
  }

  .alliance__list-text {
    padding: 0 30px 30px 0;
    margin: 30px 0 0 0;
  }

  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__info-box {
    width: 100%;
    margin: 0px 0 30px 0;
  }

  .footer__form input {
    width: 50%;
    padding: 20px 75px 20px 20px;
  }

  .footer__form-btn {
    right: 50%;
  }

  .footer__list {
    margin: 0 0 30px 0;
  }

  .global-education {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .section__title {
    max-width: 100%;
    padding: 0;
  }

  .title {
    display: inline;
  }

  .global-education__value {
    gap: 30px;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 35px 0 0 0;
  }

  h1 {
    font-size: 55px;
  }

  .history__box {
    padding: 30px;
    margin: 0 auto 30px auto;
  }

  .rating__box {
    margin: -90px 0 0 0;
  }

  .global-education .subtitle {
    padding: 0;
  }

  .uk-offcanvas-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -270px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 270px;
    padding: 80px 20px 20px 20px;
    background: #222;
    overflow-y: auto;
  }

  .uk-offcanvas {
    display: none;
    position: absolute;
  }

  .uk-offcanvas-close {
    display: block;
  }

  .header__button {
    display: none;
  }

  .uk-open .header__button {
    display: block;
  }

  .uk-modal-body {
    padding: 20px;
  }
}
@media screen and (max-width: 870px) {
  .switzerland__text {
    font-size: 70px;
    line-height: 100px;
  }

  .history__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .history__box-text {
    max-width: 100%;
  }

  .slider-arrows {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px 0 0 28px;
  }

  .history__slider {
    position: relative;
    right: 5px;
    left: auto;
  }

  .history__box {
    padding: 20px 40px 20px 20px;
  }

  .rating__inner {
    padding: 20px;
  }

  .alliance {
    padding: 30px 10px 30px 10px;
  }

  .alliance__item {
    min-height: 350px;
  }

  .partners {
    padding: 30px 10px;
  }

  .history {
    padding: 30px 10px;
  }

  .recommendation__box {
    margin: 30px 0 0 0;
  }

  .index__news {
    margin: 60px auto 50px auto;
  }
}
@media screen and (max-width: 769px) {
  .global-education__value {
    -ms-grid-columns: 2fr 2fr;
    grid-template-columns: 2fr 2fr;
  }

  .index__news-item {
    padding: 7px;
  }

  .news__descr {
    font-size: 16px;
    line-height: 22px;
  }

  .footer {
    padding: 40px 0;
  }
}
@media screen and (max-width: 600px) {
  .index__news-box {
    -ms-grid-columns: 4fr;
    grid-template-columns: 4fr;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
    margin: 30px 0 0 0;
  }

  .switzerland__text {
    font-size: 40px;
    line-height: 70px;
  }

  .title {
    font-size: 18px;
    line-height: 28px;
  }

  .subtitle {
    font-size: 14px;
  }

  .triangle:before {
    top: 3px;
  }

  .alliance__item-name {
    font-size: 20px;
  }

  .footer__form input {
    width: 100%;
  }

  .footer__form-btn {
    right: 0;
  }

  h1 {
    font-size: 28px;
  }

  .red__btn {
    width: 250px;
    height: 45px;
    font-size: 18px;
  }

  .global-education__number {
    font-size: 30px;
  }

  .global-education__name {
    font-size: 14px;
  }

  .alliance__list {
    font-size: 14px;
  }

  .alliance__list-item.triangle:before {
    top: 1px;
  }

  .partners__link {
    font-size: 18px;
  }

  .modal__form {
    width: 250px;
  }

  .modal__form input {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .footer__list {
    padding: 0 !important;
  }

  .footer__list-link {
    font-size: 16px;
  }

  .footer__btns-box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts__btn {
    width: 130px;
    height: 45px;
    font-size: 18px;
    margin: 0 10px 0 0;
  }

  .footer__btns-box .red__btn {
    font-size: 18px;
    width: 150px;
    height: 45px;
  }

  .grid__items-box {
    -ms-grid-columns: 4fr;
    grid-template-columns: 4fr;
  }

  .switzerland-block {
    height: 350px;
  }

  .switzerland__text {
    font-size: 34px;
    line-height: 50px;
    margin: 0 0 25px 0;
  }

  .switzerland__title {
    font-size: 20px;
  }

  .global-education__value {
    -ms-grid-columns: 4fr;
    grid-template-columns: 4fr;
    margin: 20px 0 0 0;
  }
}